name: Azure-Pipelines
stages:
- stage: Build
  jobs:
  - job: Build
    pool: my-test-pool
    steps:
    - task: CmdLine@2
      displayName: Install Newmann
      continueOnError: true
      inputs:
        script: 'sudo npm install -g newman'
        workingDirectory: $(System.DefaultWorkingDirectory)
    - task: CmdLine@2
      displayName: Run Regression Tests
      inputs:
        script: 'newman run StarterAPIs.json'
        workingDirectory: $(System.DefaultWorkingDirectory)
    
