name: Azure Pipelines
stages:
- stage: Build
  jobs:
  - job: Build
    pool: myModule3AP
    steps:
    - task: CmdLine@2
      displayName: Install Newmann
      continueOnError: true
      inputs:
        script: 'sudo npm install -g newman'
        workingDirectory: 'starter-code/automatedtesting/postman'
    - task: CmdLine@2
      displayName: Run Regression Tests
      inputs:
        script: 'newman run StarterAPIs.json'
        workingDirectory: starter-code/automatedtesting/postman
    